<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="warbber">
        <form action="/result" method="post">
            {%csrf_token%}
            <div class="topData">
                <div id="data">Name: <input type="text" style="width:190px" placeholder="Enter your name here..." name="name" id="name"></div>
                <div id="data">Dojo Location: <select name="loction" id="loction" style="width:200px">
                        <option value="Saudi Arabia">Saudi Arabia</option>
                        <option value="Kuwait">Kuwait</option>
                        <option value="Dubai">Dubai</option>
                        <option value="USA">USA</option>
                    </select></div>
                <div id="data">Favorite Language:
                    <select name="Language" id="Languages" style="width:200px">
                        <option value=" c++">c++</option>
                        <option value="c#">c#</option>
                        <option value="python">python</option>
                        <option value="Java">Java</option>
                        <option value="Javascript">Javascript</option>
                </div>
                </select>
            </div>
            <div class="texterea">
                <p>Comment (optional):</p>
                <textarea name="comment" placeholder="Write comment here..." rows="6" cols="70">submit</textarea>
            </div>
            <div class="submitB">
                <button type="submit" class="submit"></button>
            </div>
        </form>
    </div>

</body>

</html>