.warbber{
    margin: 90px auto;
    width: 700px;
    border: 3px black solid;
    height: 550px;
}

h1{
    margin: 20px;
    text-align: center;
}

.topData{
    margin: 30px;
}

#data{
    display: flex;
    justify-content: space-between;
    position: relative;
    font-family: Arial;
    margin: 20px;
}

#name{
    border: black 2px solid;
}

#Languages{
    border: black 2px solid;
}

#loction{
    border: black 2px solid;
}


.texterea {
    width: 590px;
    height: 150px;
    margin-right: 30px;
    margin: 20px;
}

.submitB{
    margin: 20px;
    float:right;
}
.submit{
    margin-top: 20px;
    background-color: #4c98af;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    box-shadow: 2px 2px 1px 1px black;
}
